*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #0a97e9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 8%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 24px;
    font-size: 20px;
}

.time-imagem{
    width: 30%;
}

.Time{
    background-image: linear-gradient(#0adae9,rgb(6, 3, 131));
    color: rgb(2, 38, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.Time-div-conteudo{
    width: 35%;
}
.Time-titulo{
    padding: 9%;
}

.Jogadores-imagem{
    width: 120px;
}

.Jogador-icone{
    width: 24px;
}

.Jogadores-div{
    text-align: center;
}

.Jogadores-titulo{
    text-align: center;
    padding: 35px 0;
}

.Jogadores-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: rgb(6, 169, 233);
    text-align: center;
}

.rodape-imagem{
    height: 35px;
    padding: 12px 0;
   
}
